.third {
  color: blue;
  text-decoration: none;
  font-size: 15px;
  line-height: 2;
  padding: 10px;
}
.second {
  color: blueviolet;
  font-size: 15px;
  font-weight: 400;
}
.first {
  color: orangered ;
  background-color: whitesmoke;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}